*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;

}

input,
button{
    outline: none;
}

a{
    color: #000;
    text-decoration: none;
}

.scrollbar-none::-webkit-scrollbar{
    display: none;
}

.inner-scroll-none::-webkit-inner-spin-button{
    display: none;
}

button{
    cursor: pointer;
}