body{
    background-color:rgb(255, 255, 255);
    width: 95vw;
    height: 100vh;
}
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    
   
    
}

    
#search-button{
 border-radius:100%;
 margin-left: 1.5rem;
}

#search-bar{
    border: 0;
    border-radius: 2rem;
    height:2rem;
    width:15rem;
}
.date{
    font-size: 1.5rem;
}

#search-button{
    background-color: white;
    border: 0;
}

.weather i {
    font-size: 6rem;
    margin-top: 1.5rem;
}

.weather{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.location{
    font-size: 5rem ;
    font-weight: bold;
}

.brief{
    font-size: 2.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
    
}

.temperature{
    font-size: 6rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.card{
    background: linear-gradient(to bottom right , cyan ,rgb(233, 77, 233));
    border-radius: 2rem;
}